<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
      Copyright 2011 AKRA GmbH
   
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
   
           http://www.apache.org/licenses/LICENSE-2.0
   
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
 -->

<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.akra.idocit.ui.components.DocumentationEditor"
            default="false"
            extensions="wsdl,java"
            icon="src/main/resources/images/idocit.ico"
            id="de.akra.idocit.ui.components.DocumentationEditor"
            name="iDocIt!">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.akra.idocit.ui.components.IDocItPreferencePage"
            class="de.akra.idocit.ui.components.AddresseePreferencePage"
            id="de.akra.idocit.ui.components.AddresseePreferencePage"
            name="Addressees">
      </page>
      <page
            category="de.akra.idocit.ui.components.IDocItPreferencePage"
            class="de.akra.idocit.ui.components.ThematicRolePreferencePage"
            id="de.akra.idocit.ui.components.ThematicRolePreferencePage"
            name="Thematic Roles">
      </page>
      <page
            class="de.akra.idocit.ui.components.IDocItPreferencePage"
            id="de.akra.idocit.ui.components.IDocItPreferencePage"
            name="iDocIt!">
      </page>
      <page
            category="de.akra.idocit.ui.components.IDocItPreferencePage"
            class="de.akra.idocit.ui.components.ThematicGridPreferencePage"
            id="de.akra.idocit.ui.components.ThematicGridPreferencePage"
            name="Thematic Grids">
      </page>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
		<objectContribution 
				id="de.akra.idocit.ui.contribution.IDocIt.HTMLExport"
				objectClass="org.eclipse.core.resources.IFile"
				adaptable="true">
			<visibility>
				<or>
					<objectState name="extension" value="java" />
					<objectState name="extension" value="wsdl" />
				</or>
			</visibility>
		
			<action
				id="de.akra.idocit.ui.contribution.IDocIt.HTMLExport.generateHTML" 
				label="Export iDocIt! documentation"
				enablesFor="1"
				menubarPath="additions" 
				class="de.akra.idocit.ui.actions.HTMLExport"> 
			</action> 
		</objectContribution>
		<objectContribution id="de.akra.idocit.ui.contribution.IDocIt"
		  objectClass="org.eclipse.core.resources.IFile"
		  adaptable="true">
			<visibility>
				<or>
					<objectState name="extension" value="java" />
					<objectState name="extension" value="wsdl" />
				</or>
			</visibility>
			<action
			   class="de.akra.idocit.ui.actions.OpenEditorAction"
			   enablesFor="1"
			   icon="src/main/resources/images/idocit.ico"
			   id="de.akra.idocit.ui.actions.OpenEditorAction"
			   label="iDocIt!"
			   menubarPath="additions">
			</action>
		</objectContribution> 
   </extension>
   <extension
         id="de.akra.idocit.core"
         name="iDocIt!"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="de.akra.idocit.ui.components.RecommendedGridsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.akra.idocit.ui"
            name="iDocIt!">
      </category>
      <view
            category="de.akra.idocit.ui"
            class="de.akra.idocit.ui.components.RecommendedGridsView"
            icon="src/main/resources/images/idocit.ico"
            id="de.akra.idocit.ui.components.RecommendedGridsView"
            name="Recommended Roles">
      </view>
   </extension>

</plugin>
