Redirect permanent site.xml http://idocit.akra.de/updatesite/site.xml
Redirect permanent artifacts.jar http://idocit.akra.de/updatesite/artifacts.jar
Redirect permanent content.jar http://idocit.akra.de/updatesite/content.jar
