<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.akra.idocit.extensions.Parser" name="Parser" schema="schema/de.akra.idocit.extensions.Parser.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.akra.idocit.IDocItCoreStartup">
      </startup>
   </extension>


</plugin>
