/* ##### general ##### */
body 
{
    font-family: Segoe UI;
	overflow: hidden;
}

h3 
{
	margin: 0;
}

h5
{
    margin-top: 3px;
    margin-bottom: 0px;
}

a 
{
    color: #000000;
    font-style: normal;
}
a:hover 
{
    color: #8fa1a1;
}
a:visited
{
    color: #8fa1a1;
}


/* ##### header ##### */ 
#header
{
	height: 20px;
}

#docTitle
{
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #000000;
}

#interfaceTitle
{
    margin-left: 10px;
    margin-bottom:0px;
}

/* ##### navigation bar ##### */
#nav 
{
	float:left;
	position: absolute;
	top: 10;
	bottom: 0; 
	left: 0;
	width: 250px;
	background: #ffffff;
	border: 2px inset lightgray;
	
	padding: 0.5em;
	margin: 2px 0.25em;
	margin-top:120px;
	margin-bottom: 25px;
}

.navTitle 
{
    font-weight: bold;
}

#nav ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navElements
{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;	
}

.subNavElements li, .subNavElements label
{
	margin-left: 10px;
}

.subNavTitle
{
	font-size: 14px;
	font-weight: bold;
}

/* ##### content ##### */
#content 
{
	float: left;
	position: fixed;
	top: 120px; 
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background: #ffffff;
	border: 2px inset lightgray;
	
	margin: 10px 0.5em;
	margin-left: 16.5em;
    padding: 0.25em;
	padding-top: 0;
}

.operationList, .interfaceList
{
    list-style-type: none;   
	margin: 0;
	padding: 0;
}

.innerInterfaceList
{
	list-style-type: none;
	text-indent: 5px;
	margin-top: 5px;
}

.operationList h4 
{
    border: 1px solid #000000;
    background: #8fa1a1;
    padding: 2px 5px;
	margin-top: 0px;
    margin-bottom: 5px;    
    width: 100%;
}

.paramDescription li
{
    list-style-type: circle;
}

.exception .paramDescription li .paramDescription li
{
    list-style-type: disc;
}

.input, .output, .exception, .opDescription
{
	padding: 2px 5px;
}

.output, .opDescription
{
    background-color: #ececec;
	width: 100%;
}

.output
{
	margin-bottom: 10px;
}

.input h5, .output h5, .exception h5
{
	font-size: 15px;
}

.title
{
	font-weight: bold;
	font-size: 14px;
}